body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image:url(assets/music-studio-background-unfxpvrvshdeynte.jpg);
    
  }
  html{
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-align: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-text-stroke-width:2px ;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    
  }
  header h1 {
    font-size: 35px;
    
  }
  
  nav {
    
    padding: 30px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    justify-content:center ;
    flex-direction: row;
    align-items: center;
    margin-top: 118px;
    background-color: rgb(0, 0, 0);
    width: 79%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    border-width: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    color: rgb(255, 255, 255);
    
  }
  .nav-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a {
    text-decoration: none;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0 70px;
  }
  a:visited{
    color: rgb(200, 176, 223);
  }
  a:hover {
    color: rgb(157, 92, 218);
  }
  
  
  
  section {
    display: flex;
    margin: auto;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  padding-top: 10px;
  
  width: 80%;
  border:10px solid #000000;
  background-image:url(assets/550729.jpg);
 
    

  }
  
  .block {
    display: flex;
    text-align: center; 
    justify-content: center;
    margin: 10px;
    width: 70%;
    font-size: larger; 
    background-color: #1d1d1d;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  }
  
  footer {
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-style: italic;
    height: 30px;
    justify-content: center;
    flex-direction: row;
  }
  
  #block1 {
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    
    
  }
  #block2{
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    

  }
  #block3 {
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 500px;
    height: 200px;
    
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     
  }
  #footer-p {
   margin-bottom: 10px;
   
     
  }
    
   
  
  
  